<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "ion" class = "com.example.demo.Furnizor">
        <property name = "nume" value = "Ion"/>
        <property name = "oras" value = "Braila"/>
        <property name = "stare" value = "10"/>
    </bean>
    <bean id = "radu" class = "com.example.demo.Furnizor">
        <property name = "nume" value = "Radu"/>
        <property name = "oras" value = "Bucuresti"/>
        <property name = "stare" value = "20"/>
    </bean>
    <bean id = "surub" class = "com.example.demo.Componenta">
        <property name = "denum" value = "suruburi"/>
        <property name = "culoare" value = "verde"/>
        <property name = "um" value = "buc"/>
    </bean>
    <bean id = "piulita" class = "com.example.demo.Componenta">
        <property name = "denum" value = "piulite"/>
        <property name = "culoare" value = "galben"/>
        <property name = "um" value = "cutie"/>
    </bean>
    <bean id = "liv1" class = "com.example.demo.Livrare">
        <property name="fz" ref="radu" />
        <property name="cmp" ref="surub" />
    </bean>
    <bean id = "liv2" class = "com.example.demo.Livrare">
        <property name="fz" ref="ion" />
        <property name="cmp" ref="piulita" />
    </bean>
</beans>